body {
    padding-left: 320px;
    padding-top: 30px;
    padding-right: 17px;
}

a {
    text-decoration: none;
}

#dofresh-sidebar {
    position: fixed;
    height: 100vh;
    z-index: 1;
    left: 0;
    top: 0;
}

#dofresh-sidebar svg {
    margin-right: 8px;
}