h1 {
    margin-left: 17px;
}

button {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: auto;
    height: auto;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
}

.blank-todo-fill {
    margin-left: 19px;
}

.todo-box-div {
    display: flex;
    flex-wrap: wrap;
    overflow-x: clip;
    overflow-y: auto;
    min-width: 0px;
}

.todo-box {
    flex: 0 0 auto;
    border-style: solid;
    border-color: #f8f9fa;
    border-width: 1.7px;
    border-radius: 17px;
    width: 450px;
    min-height: 300px;
    margin: 17px;
}

.todo-box-heading {
    display: flex;
    margin: 19px 19px 0px 19px
}

.refreshing-tag {
    background-color: #7447e1;
    height: 20px;
    margin-top: 10px;
}

.add-task-btn, 
.edit-todo-box-btn,
.edit-todo-task-btn {
    margin-left: 10px !important;
    width: 41.8px;
    height: 39.9833px;
    border-radius: 100% !important;
}

.main .dropdown-item:focus {
    background-color: #7447e1;
}

.edit-todo-task-btn {
    margin-right: 8px;
    background-color: transparent;
}

.remove-task-btn {
    margin-top: -2px;
}

.todo-task {
    display: block;
    margin-bottom: 5px;
    padding: 0px 19px;
    border-radius: 4px;
}

.todo-box-completed-tasks {
    transition: 0.4s ease-in;
}

.todo-completed-task-text {
    text-decoration: line-through;
}

.subtask {
    margin-left: 7%;
}

label {
    width: 100%;
    box-sizing: border-box;
}

input[type='text'] {
    font-size: 17px;
    max-width: 409px;
    min-height: 36px;
    border-style: none;
    background: rgba(0, 0, 0, 0);
    margin-left: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    field-sizing: content;
}

textarea {
    font-size: 13px;
    background: rgba(0, 0, 0, 0);
    color: rgb(93, 91, 91);
    max-width: 516px;
    min-height: 24px;
    max-height: 137px;
    height: stretch !important;
    border-style: none;
    box-sizing: border-box;
    resize: none;
    field-sizing: content;
    margin-top: 5px;
}

.accordion-button {
    padding: 1rem;
    border-radius: 10px !important;
}

.accordion-collapse {
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}

.accordion-header {
    display: flex;
}

.accordion-body {
    margin-left: 8%;
    margin-bottom: 3%;
}

.btn-group {
    margin-left: auto;
}

.collapse-btn-div {
    width: 100%;
}

.collapse-btn {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #80868b !important;
    box-shadow: none !important;
    width: 100%;
    text-align: left;
}

.collapse-btn:hover {
    background-color: #ededed;
    border-color: rgba(0, 0, 0, 0);
}
