#track-body {
    width: 100%;
}

.nav-fill {
    border-color: #818181;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px !important;
}

#todo-tasks-nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
    max-height: 300px;
}

.dropdown-menu {
    position: fixed !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#title-selected-list {
    margin-left: auto;
    margin-top: 10px;
}

#task-content {
    margin-top: 3%;
}

#chart-fill-p {
    margin-top: 17px;
}

#chart-settings-div {
    margin-left: 13px;
    display: flex;
}