{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block body %}
<div style="display: flex;">
    <h1>DoFresh</h1>

    <button type="button" class="btn btn-outline-purple add-todo-box-btn" data-bs-toggle="modal"
        data-bs-target="#makeTodoBoxModal">+ Create List</button>
</div>

<div class="todo-box-div">
    <div id="todo-screen-filler">
        <img src="../static/img/main-screen-filler.svg"
            alt="zero state illustration of minimalist, gray-purple to-do list">
        <h5>No to-do boxes yet...</h5>
        <p>👋 Ready to get rolling?</p>
    </div>
</div>

<div id="i-did-list">
    <div class="i-did-head" style="display: flex;">
        <button id="i-did-list-toggle" onclick="toggleIDid()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
                <path fill-rule="evenodd"
                    d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>
        </button>
        <h2 style="margin: 14px 19px 13px 19px;">I Did!</h2>
    </div>
    <div class="i-did-body">
        <div id="i-did-filler">
            <img src="../static/img/i-did-filler.svg"
                alt="zero state illustration of minimalist, checked button">
            <h5>Time to get crack-a-lacking!</h5>
            <p>We're excited to see how this will fill 😉</p>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Rename list</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="modal-rename-input" type="text" placeholder="Rename list">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal-rename-button" class="btn btn-purple">Rename</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="makeTodoBoxModal" tabindex="-1" aria-labelledby="makeTodoBoxModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="makeTodoBoxModalLabel">Add a Todo-Do List!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="name-todo-box" placeholder="Let's name your list!">
                <br>
                <br>
                <button type="button" id="add-refreshing-box-button" class="btn btn-purple">Refreshing List</button>
                <button type="button" id="add-standard-box-button" class="btn btn-purple">Standard List</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeTodoBoxModal" tabindex="-1" aria-labelledby="removeTodoBoxModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removeTodoBoxModalLabel">Remove list</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Removing this to-do box will permanently remove all data associated with it! 😯 Are you sure you want
                    to remove this to-do box?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal-remove-button" class="btn btn-purple">Remove To-Do Box</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="refreshNotifModal" tabindex="-1" aria-labelledby="refreshNotifModalLabel"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5>It's a new day! 🌱</h5>

                <p>Last time, you had...</p>

                <div class="widget-container-div" style="display: flex;">
                    <div id="task-completion-circle" class="progress-circle animated" data-percent="0">
                        <svg class="progress-circle-svg">
                            <circle class="bg" cx="70" cy="70" r="70"></circle>
                            <circle class="progress" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="progress-text">
                            <div class="progress-text-percentage">0%</div>
                        </div>
                        <div class="progress-text-name">Tasks completed</div>
                    </div>

                    <div id="list-completion-circle" class="progress-circle animated" data-percent="0"
                        style="margin-left: 85px;">
                        <svg class="progress-circle-svg">
                            <circle class="bg" cx="70" cy="70" r="70"></circle>
                            <circle class="progress" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="progress-text">
                            <div class="progress-text-percentage">0%</div>
                        </div>
                        <div class="progress-text-name">Lists reached</div>
                    </div>
                </div>

                <br>
                <p>Welcome to Today™! It's a new day and a fresh start. Ready to begin?</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-purple" data-bs-dismiss="modal">Let's go!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h3>Welcome to DoFresh!</h3>

                <h5>We're so glad to see you 😊</h5>

                <br>

                <p>Our goal is to help you accomplish <i>your</i> goals, duties, and callings step by step. We know that
                    many of your goals will take time and effort and serious dedication—all components that are
                    extremely important and extremely difficult. Yet do not fear! We want to help.</p>

                <h3>1. Dashboard 🗒️</h3>
                <p>We have a dashboard to keep track of all your tasks and to-do lists. (Wow!) Organize them however you
                    want to.</p>
                <h3>2. Track 📊</h3>
                <p>Here's a fun, very purple page! You can use this section to reflect on your productivity and your
                    priorities. Pat yourself on the back if you have a streak you're proud of. Track keeps, well, track
                    of what tasks you complete so that you have accurate data about your habits, your persistence, and
                    your hiatuses.</p>
                <h3>3. Chat</h3>
                <p>You can spill your thoughts to Lumi in this page. Lumi is your cheerleader, friend, and counselor.
                    Say hi to Lumi!</p>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-purple" data-bs-dismiss="modal">Let's go!</button>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleIDid() {
        let iDidList = document.querySelector('#i-did-list');

        iDidList.classList.toggle('i-did-close');

        if (iDidList.classList.contains('i-did-close')) {
            iDidList.querySelector('#i-did-list-toggle').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>`;
        } else {
            iDidList.querySelector('#i-did-list-toggle').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708" />
                <path fill-rule="evenodd"
                    d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708" />
            </svg>`;
        }
    }
</script>

<script type="module" src="../static/js/script.js"></script>
{% endblock %}