{% extends "layout.html" %}

{% block style %}
<link rel="stylesheet" href="../static/css/style.css">
<script src="../static/js/script.js"></script>
{% endblock %}

{% block body %}
<div style="display: flex;">
    <h1>DoFresh</h1>

    <button type="button" class="btn btn-outline-purple add-todo-box-btn" data-bs-toggle="modal"
        data-bs-target="#makeTodoBoxModal">+ Create List</button>
</div>

<div class="todo-box-div"></div>

<!-- Modals -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Rename list</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="modal-rename-input" type="text" placeholder="Rename list">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal-rename-button" class="btn btn-purple">Rename</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="makeTodoBoxModal" tabindex="-1" aria-labelledby="makeTodoBoxModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="makeTodoBoxModalLabel">Add a Todo-Do List!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" id="add-refreshing-box-button" class="btn btn-purple">Refreshing List</button>
                <button type="button" id="add-standard-box-button" class="btn btn-purple">Standard List</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeTodoBoxModal" tabindex="-1" aria-labelledby="removeTodoBoxModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="removeTodoBoxModalLabel">Remove list</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Removing this to-do box will permanently remove all data associated with it! 😯 Are you sure you want
                    to remove this to-do box?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="modal-remove-button" class="btn btn-purple">Remove To-Do Box</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="refreshNotifModal" tabindex="-1" aria-labelledby="refreshNotifModalLabel"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5>It's a new day! 🌱</h5>

                <p>Yesterday, you had...</p>

                <div class="widget-container-div" style="display: flex;">
                    <div id="task-completion-circle" class="progress-circle animated" data-percent="52">
                        <svg class="progress-circle-svg">
                            <circle class="bg" cx="70" cy="70" r="70"></circle>
                            <circle class="progress" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="progress-text">
                            <div class="progress-text-percentage">52%</div>
                        </div>
                        <div class="progress-text-name">Tasks completed</div>
                    </div>

                    <div id="task-completion-circle" class="progress-circle animated" data-percent="80" style="margin-left: 85px;">
                        <svg class="progress-circle-svg">
                            <circle class="bg" cx="70" cy="70" r="70"></circle>
                            <circle class="progress" cx="70" cy="70" r="70"></circle>
                        </svg>
                        <div class="progress-text">
                            <div class="progress-text-percentage">80%</div>
                        </div>
                        <div class="progress-text-name">Tasks completed</div>
                    </div>
                </div>
            
                <br>
                <p>Welcome to Today™!</p>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-purple" data-bs-dismiss="modal">Let's go!</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}