{% extends "layout.html" %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="static/css/track.css">
<script src="static/js/track.js"></script>
</script>
{% endblock %}

{% block body %}
<div style="display: flex;">
    <button id="sidebar-open-btn" class="btn btn-light btn-close" onclick="closeNav()"
        aria-label="Close">&#9776;</button>
    <h1 id="title">Track</h1>
    <span id="title-selected-list"></span>
</div>

<div id="todo-lists-sidebar" class="sidebar">
    <h5>To-Do Lists:</h5>
</div>

<div id="todo-tasks-nav">
</div>

<div id="track-chart-div">
</div>

<div id="track-range-btn-div">
</div>


{% endblock %}