{% extends "layout.html" %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="../static/css/track.css">
<script src="../static/js/track.js"></script>
{% endblock %}

{% block body %}
<div style="display: flex;">
    <div id="track-body">
        <div id="chart-body" style="display: flex;">
            <h1 id="title">Track</h1>
            <span id="title-selected-list"></span>
        </div>

        <!-- <div id="chart-settings-div">
                <div class="track-range-btn-group btn-group" role="group" aria-label="Basic radio toggle button group"
                    style="margin-top: 3%;">
                    <input type='radio' class='btn-check week-range-btn' name='range-radio' id='vbtn-radio1'
                        autocomplete='off' disabled>
                    <label class='btn btn-outline-purple' for='vbtn-radio1'>Week</label>
                    <input type='radio' class='btn-check month-range-btn' name='range-radio' id='vbtn-radio2'
                        autocomplete='off' disabled>
                    <label class='btn btn-outline-purple' for='vbtn-radio2'>Month</label>
                    <input type='radio' class='btn-check semi-year-range-btn' name='range-radio' id='vbtn-radio3'
                        autocomplete='off' disabled>
                    <label class='btn btn-outline-purple' for='vbtn-radio3'>Semi-year</label>
                    <input type='radio' class='btn-check year-range-btn' name='range-radio' id='vbtn-radio4'
                        autocomplete='off' disabled>
                    <label class='btn btn-outline-purple' for='vbtn-radio4'>Year</label>
                    <input type='radio' class='btn-check max-range-btn' name='range-radio' id='vbtn-radio5'
                        autocomplete='off'>
                    <label class='btn btn-outline-purple' for='vbtn-radio5'>Max</label>
                </div>

                <div class="chart-types-btn-group btn-group" role="group" aria-label="Basic radio toggle button group"
                    style="margin-top: 3%; margin-left: auto;">
                    <input type='radio' class='btn-check chart-complete-btn' name='type-radio' id='chart-complete1'
                        autocomplete='off'>
                    <label class='btn btn-outline-purple' for='chart-complete1'>Completed</label>
                    <input type='radio' class='btn-check chart-streak-btn' name='type-radio' id='chart-streak1'
                        autocomplete='off'>
                    <label class='btn btn-outline-purple' for='chart-streak1'>Streak</label>
                    <input type='radio' class='btn-check chart-month-btn' name='type-radio' id='chart-month1'
                        autocomplete='off'>
                    <label class='btn btn-outline-purple' for='chart-month1'>Monthly</label>
                </div>
            </div>-->

        <!-- <div id="todo-tasks-nav"></div> -->

        <div id="track-dashboard" class="container">
            <div class="row">
                <div id="days-completion-div" class="col track-chart">
                    <canvas id="days-completion-canvas">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}