{% extends "freshapp/layout.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body %}

    <h1>Login</h1>
    

    {% if message %}
    <div>{{message}}</div>
    {% endif %}

    <div style="height: 28px;"></div>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <p>First time? Hustle <a href="{% url 'signup' %}">here</a>!</p>
        <input class="btn-purple" type="submit" value="Login">
    </form>

{% endblock %}